<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-layout row>
                <v-flex>
                    <v-card dark class="indigo lighten-1">
                        <v-card-title class="white--text">
                            <v-avatar size="75">
                                <img class="logo" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/50234184_215333092748388_8664743623692124160_n.png?_nc_cat=104&_nc_ht=scontent-cdg2-1.xx&oh=bb9e705b8269eda75f3d285b97cea240&oe=5CB9160C"
                                    alt="avatar">
                            </v-avatar>
                            <span class="headline text-center" style="margin-left: 100px">Quel développeur êtes-vous ?</span>
                            <v-spacer></v-spacer>

                            <v-menu bottom left>

                                <v-btn slot="activator" dark icon @click="reload">
                                    <v-icon>history</v-icon>
                                </v-btn>
                            </v-menu>
                        </v-card-title>
                    </v-card>
                    <v-content>
                        <v-container>
                            <div v-if="resultat == null">
                                <h2 style="color: #0099ff;">Question #{{questionCourante+1}} - {{
                                    questions[questionCourante].question }}</h2>
                                <img v-bind:src="questions[questionCourante].image" height="210" width="280"></img>
                                <div v-for="rep in questions[questionCourante].reponses">
                                    <v-card hover style="margin-bottom: 10px;" v-on:click="repondre(rep)">
                                        <v-card-title primary-title>
                                            <div>
                                                <h3 class="headline mb-0">{{rep.reponse}}</h3>
                                            </div>
                                        </v-card-title>
                                    </v-card>
                                </div>
                            </div>
                            <div v-if="resultat != null">
                                <h2>Le questionnaire est terminé</h2>
                                <v-card>
                                    <v-card-title primary-title>
                                        <div>
                                            <h3 class="headline mb-0">Tu es un {{resultat.titre}}</h3>
                                            <img v-bind:src="resultat.image">
                                        </div>
                                    </v-card-title>
                                </v-card>
                                <v-btn style="margin-top: 20px;" color="info" v-on:click="recommencer">Recommencer le test</v-btn>
                            </div>
                        </v-container>
                    </v-content>
                    <v-footer dark height="auto" style="position: absolute; bottom: 0; width: 100%;">
                        <v-card flat tile class="indigo lighten-1 white--text text-xs-center" style="width: 100%;">
                            <v-card-text>
                                <v-btn v-for="icon in icons" :key="icon" class="mx-3 white--text" icon>
                                    <a v-bind:href="icon.link" target="_blank" style="color: white;"><v-icon size="24px">{{ icon.icon }}</v-icon></a>
                                </v-btn>
                            </v-card-text>
                            <v-card-text class="white--text pt-0">
                                LP Web - Communication Web
                            </v-card-text>

                            <v-divider></v-divider>

                            <v-card-text class="white--text">
                                &copy;2019 — <strong>Robin KL. & Quentin M.</strong>
                            </v-card-text>
                        </v-card>
                    </v-footer>
                </v-flex>
            </v-layout>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script>
        new Vue(
            {
                el: '#app',
                data: {
                    icons: [
                        {
                            icon: 'fab fa-facebook',
                            link: 'https://www.facebook.com/lpweb.iutlan/'
                        },
                        {
                            icon: 'fab fa-twitter',
                            link: 'https://twitter.com/lpweb_iutlan'
                        }
                    ],
                    questions: [
                        {
                            question: "Codes-tu en Java ?",
                            image: "https://telecharger.tomsguide.fr/c/thumbnail280/t/j/a/java-N5uhyL.jpg",
                            reponses: [
                                { reponse: "Je suis développeur java...", type: "j" },
                                { reponse: "Retro satanas !", type: "b" },
                                { reponse: "Java, c'est une île non ?", type: "t" }
                            ]
                        },
                        {
                            question: "Votre film préféré ?",
                            image: "https://cdn.britannica.com/s:300x500/08/190708-131-EF51F4FE.jpg",
                            reponses: [
                                { reponse: "Matrix", type: "n" },
                                { reponse: "Les gilets jaunes aux ski", type: "j" },
                                { reponse: "Super-hero", type: "t" },
                                { reponse: "Fight club", type: "n" }
                            ]
                        },

                        {
                            question: "Que fais tu en cours ?",
                            image: "https://s18670.pcdn.co/wp-content/uploads/Classroom_Lighting.jpg",
                            reponses: [
                                { reponse: "Je travaille", type: "n" },
                                { reponse: "Je bosse sur les projets ", type: "n" },
                                { reponse: "Netflix and chill", type: "t" },
                               { reponse: "Je créé des cartes yu gi oh", type: "j" }
                            ]
                        },
                        {
                            question: "Connais-tu Docker ?",
                            image: "https://www.docker.com/sites/default/files/social/docker_facebook_share.png",
                            reponses: [
                                { reponse: "I know Docker", type: "n" },
                                { reponse: "~/vie_social/ docker-compose up -d", type: "n" },
                                { reponse: "Non", type: "j" },
                                { reponse: "C'est un métier non ?", type: "t" }
                            ]
                        },
                        {
                            question: "Aimes-tu la gestion de projet ?",
                            image: "https://www.blogdumanagement.com/wp-content/uploads/2018/11/gestion-projet.jpg",
                            reponses: [
                                { reponse: "Je rêve de gantt", type: "n" },
                                { reponse: "Je trouves ce cour passionnant", type: "t" },
                                { reponse: "AM est mon mentor", type: "j" }
                            ]
                        },
                        {
                            question: "Dans un mmorpg tu es ?",
                            image: "https://i.kym-cdn.com/photos/images/facebook/001/164/480/717.png",
                            reponses: [
                                { reponse: "Healer", type: "n" },
                                { reponse: "Tank", type: "n" },
                                { reponse: "Assassin", type: "t" },
                                { reponse: "Archer", type: "j" }
                            ]
                        },
                        {
                            question: "Fais-tu des diagrammes UML ?",
                            image: "https://framasphere.org/uploads/images/9597eb30298ed4e0018b.jpg",
                            reponses: [
                                { reponse: "Oui", type: "n" },
                                { reponse: "Non", type: "j" },
                                { reponse: "Quand j'ai pas le choix", type: "t" }
                            ]
                        }

                    ],
                    questionCourante: 0,
                    compteur: {
                        j: 0,
                        n: 0,
                        t: 0,
                    },
                    resultat: null,
                    typesDeDev:
                    {
                        j: { titre: "Développeur Java", image: "http://image.noelshack.com/fichiers/2015/24/1433771530-og3e3m.jpg" },
                        n: { titre: "Nerd", image: "http://3.bp.blogspot.com/-Cl8qlhoOLu8/VXYkA9otFNI/AAAAAAAAA58/UOcVifStmwA/s1600/nerd.jpg" },
                        t: { titre: "Troll", image: "http://cdn.ebaumsworld.com/mediaFiles/picture/2196124/83974026.jpg" }
                    }
                },
                methods:
                {
                    repondre: function (e) {
                        this.compteur[e.type]++;

                        if (this.questionCourante < this.questions.length - 1) {
                            this.questionCourante++;
                        }
                        else {
                            this.fin();
                        }
                    },
                    fin: function () {
                        var max = 0;
                        var typeMax = "j";

                        for (type in this.compteur) {
                            if (this.compteur[type] > max) {
                                max = this.compteur[type];
                                typeMax = type;
                            }
                        }
                        this.resultat = this.typesDeDev[typeMax];
                    },
                    recommencer: function () {
                        this.questionCourante = 0;
                        this.resultat = null;
                    },
                    reload: function () {
                        window.location.href = window.location.href
                    }
                }
            });
    </script>
</body>

</html>